body {
    margin: 0;
    padding: 0;
    background-color: #c8e7d8;
    color: #4e5e72;
    text-align: center;
    font-family: monospace;
  }
  
  h2 {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2rem;
  }
  
  .contact-us {
    width: 35rem;
    background-color: white;
    margin: 3rem auto;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label,
  input,
  textarea,
  button {
    display: block;
    width: 100%;
  }
  
  label {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  textarea,
  input,
  button {
    line-height: 1.5rem;
    border: 0;
    outline: none;
    font-family: inherit;
    appearance: none;
  }
  
  textarea,
  input {
    color: #4e5e72;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  
  textarea {
    height: 8rem;
    resize: none;
  }
  
  button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: rgba(78, 94, 114, 0.9);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: rgba(78, 94, 114, 1);
  }
  
  /* Hide the result message initially */
  .result-message {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 20rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: rgba(78, 94, 114, 0.9);
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  /* Show the result message upon form submission */
  .contact-us.sent .result-message {
    display: flex;
    opacity: 1;
  }
  